# Python Virtual Environment
.venv/
venv/
env/

# Python Bytecode
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# Jupyter notebooks
.ipynb_checkpoints/

# OS temporary files
.DS_Store
Thumbs.db

# Kaggle datasets (sudah di-track sebagai folder)
datasets.zip

# Backup files
*~